:root{
    --pure-white-color: #fff;
    --pure-black-color: #000000;

    --main-accent-color: #2649A5;

    --main-bg-color: #D9D9D9;
    --secondary-bg-color: #E7EAF1;
}

/* General Setup */

body{
    background-color: var(--main-accent-color);
    margin: 0 auto;
    padding: 0 auto;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.has-img{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* Header */

header{
    width: 100%;
    height: 750px;
    background-image: url(img/header-img-1.jpg);
    background-color: var(--main-bg-color);
    animation: change-img 22.5s infinite;
}
@keyframes change-img {
   0% {background-image: url(img/header-img-1.jpg);}
   33% {background-image: url(img/header-img-2.jpg);} 
   66% {background-image: url(img/header-img-3.jpg);}
   100% {background-image: url(img/header-img-1.jpg);}
}
.top-bar{
    width: 100%;
    height: 75px;
    background-color: var(--main-accent-color);
    
    display: flex;
    justify-content: center;
}
.logo{
    background-color: #fff;
    width: 125px;
    height: 120px;
    border-radius: 0 0 35px 35px;

    background-image: url(img/parana-logo.png);
    background-size: 65%;
}

/* Section Setup */

.content{
    width: 100%;
    height: 500px;
    background-color: var(--secondary-bg-color);
    padding-top: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Cards */

.card-wrapper{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 50px;
}
.card{
    width: 25vw;
    max-width: 300px;
    height: 370px;
    background-color: var(--pure-white-color);
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 50px;

    display: flex;
    justify-content: center;

    font-size: 15pt;
    box-shadow: var(--pure-black-colors) 0px 7px 29px 0px;

    transition: 0.5s;
}
.lift:hover{
    box-shadow: var(--pure-black-color) 0px 20px 30px -10px;
    translate: 0px -5px;
}
.info-icon{
    position: absolute;
    width: 75px;
    height: 75px;
    background-color: var(--main-accent-color);
    border-radius: 50px;
    translate: 0 -70%;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
}


/* Graph */

.graph-wrapper{
    background-color: var(--main-bg-color);
    display: grid;
    grid-template-rows: 3fr 0.8fr 0.5fr;
    padding-bottom: 50px;
    padding-top: 50px;
}
.graph-wrapper h1{
    place-self: center;
    font-size: 25pt;
}
.graph-wrapper > .text-box{
    width: 50vw;
    height: auto;
    text-align: center;

    background-color: var(--pure-white-color);
    border-radius: 15px;
    padding: 15px;
}
.info-graph-bar{
    margin-top: 50px;

    width: 50vw;
    height: 20px;
    border-radius: 25px;

    background-color: var(--pure-white-color);
    place-self: center;
}
.info-graph-progress{
    height: 20px;
    border-radius: 25px 0 0 25px;

    background-color: var(--main-accent-color);
    box-shadow: var(--main-accent-color) 0px 2px 4px 0px,
                var(--main-accent-color) 0px 4px 16px 0px;

    animation: progress-bar-fill 2s infinite ease-out alternate;
}
@keyframes progress-bar-fill {
    0% {width: 0vw;}
    25% {width: 0vw;}
    75% {width: 50vw;}
    100% {
        width: 50vw;
        border-radius: 15px;
    }
}
.info-graph-icon{
    position: absolute;
    width: 75px;
    height: 75px;
    background-color: var(--main-accent-color);
    border-radius: 50px;
    translate: -10% -35%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

/* Text-box */

.text-box{
    height: 700px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.title-box{
    width: 30vw;
    height: 75px;
    border-radius: 10px;
    background-color: var(--main-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-box-content{
    display: flex;
    min-height: 250px;
    max-width: 600px;
    justify-content: center;
    align-items: center;
    background-color: var(--main-bg-color);
    border-radius: 15px;
    margin: 35px 150px;
    padding: 50px;
}
.text-box-content > p{
    padding-right: 30%;
}
/* Footer */

footer{
    background-color: var(--main-accent-color);

}

footer p{
    color: #fff;
}

.wave{
    background-color: var(--secondary-bg-color);
}
 
/* @media Responsiveness*/

@media all and (max-width:900px){

    /* Cards */
    .card-wrapper{
        height: fit-content;
    }
    .card-wrapper{
        flex-direction: column;
    }
    .card{
        width: 80vw;
    }
    
    /* Graph */
    .info-graph-icon{
        width: 50px;
        height: 50px;
        translate: -10% -25%;
    }
    .graph-wrapper{
        height: fit-content;
        padding-top: 20px;
        padding-bottom: 0;
    }
    .graph-wrapper > .text-box{
       width: 80vw;
    }

    /* Text Box */
    .title-box{
        width: 85vw;
    }
    .text-box-content{
        flex-direction: column;
        margin: 20px;
    }
    .text-box-content > p{
        padding-right: 0;
    }
}